<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>所有活动</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/css/materialize.min.css"type="text/css">
    <link rel="stylesheet" href="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/css/me.css" type="text/css">
    <script type="text/javascript" src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/js/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/js/materialize.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs/v0.5.1/fingerprint.min.js"></script>

</head>
<body>
<!--所有活动的界面布局-->
<!--参考投票系统-->
<div class="section">
    <div class="col s12">
        <blockquote class="title" style="border-color: #4db6ac">
            全部活动
        </blockquote>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="container">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="aa.png" width="305" height="229">
                        <span class="card-title">门诊随访</span>
                    </div>
                    <div class="card-content">
                        <p>用户积分+3</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="container">
                <div class="card hoverable">
                    <div class="card-image card-image waves-effect waves-block waves-light">
                        <img src="aa.png" width="305" height="229">
                        <span class="card-title">扩展活动</span>
                    </div>
                    <div class="card-content">
                        <p>用户积分+5</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="container">
                <div class="card hoverable">
                    <div class="card-image card-image waves-effect waves-block waves-light">
                        <img src="aa.png" width="305" height="229">
                        <span class="card-title">科研招募</span>
                    </div>
                    <div class="card-content">
                        <p>用户积分+8</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>