<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>健康检测</title>
    <!-- CSS  -->
    <div th:replace="common::head"></div>
</head>
<body>
    <div th:replace="common::root_navbar(2)"></div>
<!--健康检测-->
<!--图表-->
<div class="container" style="flex: 1 0 auto; width: 95%">
    还没写
</div>
<!--其他-->
<div class="container" style="flex: 1 0 auto; width: 95%">
    <div class="row section  ">
        <div class="col s12 l12">
            <form id="loginForm" method="post" name="loginForm" style="width:50%; margin:0 auto">
                <div class="row">
                    <div class="input-field col s9">
                        <i class="material-icons prefix">edit</i>
                        <input id="bloodSugar" type="text"  class="validate" name="bloodSugar" value="">
                        <label for="bloodSugar">血糖</label>
                    </div>
                    <div class="input-field col s3">
                        <button class="btn-large waves-effect waves-light " onclick="#" type="submit" style="width:200px">提交</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s9">
                        <i class="material-icons prefix">edit</i>
                        <input id="Islet" type="text"  class="validate" name="Islet" value="">
                        <label for="Islet">胰岛</label>
                    </div>
                    <div class="input-field col s3">
                        <button class="btn-large waves-effect waves-light " onclick="#" type="submit" style="width:200px">监测胰岛</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
